/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tilt Neon', cursive;
font-family: 'Tilt Prism', cursive; */

/* * {
    color: white;
    text-shadow: 2px 2px 2px 2px;
} */
* {
    box-sizing:border-box;
    padding: 0;
    
}
h1 {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

h2 {
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .8px;
}

h3 {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .6px;
}

p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .4px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECECEC;
    position: relative;
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    border-bottom: 2px solid black;
    background-color: #2F2F2F;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    
}
nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav ul li {
    margin-left: 10px;
    margin-right: 20px;
    list-style: none;
    font-family: 'Tilt Neon', cursive;
    
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 50px 0 40px 0;
    width: 100%;
    background-color: #F9F9F9;
}

#img-profile-pic {
    max-width: 200px;
    margin: 50px 50px 30px 80px;
    border-radius: 30px;
}

#about-me {
    margin: 40px 10px 0px 0px;
    border-bottom: 1px solid black;
    
}

#projects {
    display: flex;
    flex-direction:column;
    border-top: solid 1px white;
    background-color: rgb(199, 193, 136);
    
    top: 30rem;
    left: 0rem;
    right: 0rem;
   
    margin: 0;
}

button {
    background-color: #2F2F2F;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px black;
}

/* #projects div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
} */

#projects h2 {
    align-self: center;
    margin-top: 4rem;
}

#word-generator {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 50px 70px;
    border: 1px groove black;
    align-items: center;
    background-color: rgb(246, 234, 206);
    height: 20rem;
    width: 60rem;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

#word-generator h3 {
    margin-top: 0rem;
    margin-bottom: 12rem;
    font-size: 30px;
    position:absolute;
}

#word-generator-cover-text {
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 6rem 2rem;
    opacity: .95;
}

#buttons {
    position: absolute;
    margin-top: 14rem;

}

#word-generator button {
    width: 12rem;
    margin: 5px;
}
#word-generator-button-two {
    margin-bottom: 1rem;
    
}

#word-generator-p {
    text-align: center;
    font-size: 24px;
    text-shadow: 1.5px 1.5px 1.5px black;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 8rem;
    margin-top: 9rem;
}

#science-project {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 64rem;
    height: 30rem;
    background-color: rgb(246, 234, 206);
    border-radius: 15px;
    margin-bottom: 5rem;
    border:groove 1px black;
}

#science-project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
#science-project-header p {
    text-align: center;
}

#science-project-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#science-project-functionalities ul {
    display: flex;
    flex-direction: column;
}

#science-project-functionalities li {

    list-style: none;
    margin-bottom: 10px;
    margin-left: 3rem;
    position: inherit;
    margin-right: 10rem;
}

#science-project-paragraph {
    text-align: center;
}

#paragraph-div {
width: 50%;
height: 80%;
background-color:aliceblue;
margin-right: 4rem;
padding: 1rem 2rem;
display: flex;
justify-content: space-around;
align-items: center;
border:groove 1px black;
}

#science-project-cover {
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 7rem 2rem;
    opacity: .95;
    top: 71rem;
    
    
}

footer {
    width: 100%;
    position: absolute;
    border-top: 1px solid black;
    background-color: #2F2F2F;
    color: white;
    bottom: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    
}
footer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer li {
    margin: 1rem;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif ;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 860px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    #about-me {
        text-align: center;
    }
    #word-generator {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-around;
        align-content:space-around ;
    }
    #word-generator h3 {
        position: static;
        margin: 0;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }
    #buttons {
        position: static;
        margin: 0;
        margin-bottom: 2rem;
    }
    #word-generator-p {
        margin: 0;
    }
    #word-generator-cover-text {
        width: 100%;
    }
    #science-project-cover {
        width: 100%;
        top: 115rem;
    }
    #science-project {
        width: 100%;
        height: auto;
    }
    nav ul {
        justify-content: center;
    }
    .footer-disappear {
        display: none;
    }
    #paragraph-div {
        max-width: auto;
        margin-left: 0rem;

    }
    #science-project-functionalities li {
        margin-right: 4rem;
    }
}
